/* button / profile / user / 7 */




#groupicon{
    display: flex; 
    justify-content: left;
}

#membericon{
    display: flex; 
    justify-content: left;
    margin-top: 5;
}

#LuckyUser {
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: #667080;
}

#userid {
    font-size: 10px;
    color: #667080;
    padding-top: 5px;
}

#myphoto {
    background: url(.png);
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100px;

    /* position */
    position: relative;
    bottom: 10px;
    left: 57px;
}

#refreshbutton {
    /* font setting */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 125%;
    color: #EEF1F4;

    /* button background */
    width: 80px;
    height: 28px;
    background: #667080;
    border: 1px solid #667080;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
#refreshbutton:hover {
    opacity: 0.7;
}

＃refresh_hint {
    font-size: 10px; 
}

#btn_QA {
    /* clean default button theme */
    background-color: transparent;
    border: none;

    /* position */
    position: absolute;
    left: 430px;
    top: 250px;


    background-image: url('../img/icon_Q&A.png');
    width: 40px;
    height: 20px;
}

/*----- navbar (begin) -----*/
#groupicon {
    float: left;
    margin-right: 5px;
}

#TopicGenerator {
    width: 50px;
    height: 28px;
    border-radius: 30px;
    border-color: #667080;
    background: #EEF1F4;
    
    /* font setting */
    font-size: 10px;
    color: #667080;
    padding-bottom: 10px;
    padding-bottom:0px; 
    padding-top:1px;

    /* position */
    position: relative;
    top: 15px;
}
#TopicGenerator:hover{
    background-color: #667080;
    color: #EEF1F4;

}
#OrderGenerator {
    width: 50px;
    height: 28px;
    border-radius: 30px;
    border-color: #667080;
    background: #EEF1F4;
    
    /* font setting */
    font-size: 10px;
    color: #667080;
    padding-bottom:0px; 
    padding-top:1px;

    /* position */
    position: relative;
    top: 15px;
}
#OrderGenerator:hover{
    background-color: #667080;
    color: #EEF1F4;

}
#LuckyOneGenerator {
    width: 62px;
    height: 28px;
    border-radius: 30px;
    border-color: #667080;
    background: #EEF1F4;
    
    /* font setting */
    font-size: 10px;
    color: #667080;
    padding-bottom:0px; 
    padding-top:1px;

    /* position */
    position: relative;
    top: 15px;
}

#LuckyOneGenerator:hover{
    background-color: #667080;
    color: #EEF1F4;

}

/*----- navbar (end) -----*/

#btn_QA:hover {
    opacity: 0.7;
}

#img_forQA {
    width: 16px;
    height: 16px;

    /* position */
    left: 470px;
    top: 300px;
}

/*----- mainfunction area (begin) -----*/

#MemberPic{
    width: 30; height: 30; border-radius: 50%; margin-top: 5;

}

#GroupNameAndID{
     color: #667080; font-family: 'Noto Sans TC';font-weight: 700;
    font-size: 15px;
    line-height: 125%; margin-top: 22; width: 270;
}

#GroupMeetID{
    font-size: 12px; color: #667080; font-family: 'Noto Sans TC'; font-weight: 700; line-height: 125%;
}

#GroupIconImg{
    width: 50; height:50; border-radius: 50%; margin-top: 10; margin-left: 7;
}
#GobackDiv{
    margin-top: 17;display: flex; justify-content: right;display:inline;
}
#GrpupEditIcon{
    width: 23; height:23;
}
/*----- mainfunction area (end) -----*/

#GroupBox{
    /* margin-bottom: 10; */
    /* Group card */
    /* box-sizing: border-box; */

    /* Auto layout */
    /* display: flex;
    flex-direction: row;
    align-items: flex-start; */
   
    /* filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25)); */

    /* position: absolute; */
    width: 450px;
    height: 76px;
    left: 12px;
    top: 66px;


}
#singleBox{
    margin-right: 10;
    font-size: 12;
    /* Pill / outline */
    margin-top: 7;
box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 3px;


width: 50px;
height: 22px;

/* White */
background: #FFFFFF;

/* Primary */
border: 1.7px solid #667080;
border-radius: 24px;

/* Inside auto layout */
/* flex: none; */
order: 0;
flex-grow: 0;
}

#singleName{
    font-size: 15;
    /* Pill / outline */
    margin-top: 7;
box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 20px;


width: 91px;
height: 22px;

/* White */
background: #FFFFFF;

/* Primary */
/* border: 1.7px solid #667080;
border-radius: 24px; */

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}