#detailQues {
    
/* Auto layout */
/* display: flex; */
/* flex-direction: row; */
justify-content: center;
align-items: center;
 /* padding: 0px 24px; */
/*gap: 10px; */
width: 250;
height: 29;
/* position: absolute; */
/* width: 170px;
height: 22px;
left: 155px;
top: 93px; */

/* Secondary */
background: #EEF1F4;
border-radius: 6px;
} 

/*----- navbar (begin) -----*/
#myphoto {
    background: url(.png);
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100px;

    /* position */
    position: relative;
    bottom: 10px;
    left: 15px;
}

#myGroup {
    background: url(.png);
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100px;

    /* position */
    position: relative;
    bottom: 10px;
    left: 15px;
}

#btn_logo {
    /* clean default button theme */
    background-color: transparent;
    border: none;
    
    width: 100px;
    height: 44px;
    margin-bottom: 5px;
}

#groupicon {
    float: left;
    margin-left: 10px;
    margin-right: 5px;
}
#btn_TopicGenerator {
    float: left;
    padding-right: 5px;
}
#btn_OrderGenerator {
    float: left;
    padding-right: 5px;
}
#btn_LuckyOneGenerator {
    float: left;
    padding-right: 5px;
}
#TopicGenerator {
    width: 50px;
    height: 28px;
    border-radius: 30px;
    border-color: #667080;
    background: #667080;
    
    /* font setting */
    font-size: 10px;
    color: #EEF1F4;
    padding-bottom:0px; 
    padding-top:1px;

    /* position */
    position: relative;
    top: 15px;

    
}

#OrderGenerator {
    width: 50px;
    height: 28px;
    border-radius: 30px;
    border-color: #667080;
    background: #EEF1F4;
    
    /* font setting */
    font-size: 10px;
    color: #667080;
    padding-bottom:0px; 
    padding-top:1px;

    /* position */
    position: relative;
    top: 15px;
}
#OrderGenerator:hover{
    background-color: #667080;
    color: #EEF1F4;

}
#LuckyOneGenerator {
    width: 62px;
    height: 28px;
    border-radius: 30px;
    border-color: #667080;
    background: #EEF1F4;
    
    /* font setting */
    font-size: 10px;
    color: #667080;
    padding-bottom: 10px;
    padding-bottom:0px; 
    padding-top:1px;

    /* position */
    position: relative;
    top: 15px;
}
#LuckyOneGenerator:hover{
    background-color: #667080;
    color: #EEF1F4;

}

/*----- navbar (end) -----*/

#btn_QA:hover {
    opacity: 0.7;
}

#btn_QA {
    /* clean default button theme */
    background-color: transparent;
    border: none;

    /* position */
    position: absolute;
    left: 430px;
    top: 250px;


    background-image: url('../img/icon_Q&A.png');
    width: 40px;
    height: 20px;
}

#img_forQA {
    width: 16px;
    height: 16px;

    /* position */
    left: 470px;
    top: 300px;
}


